---
title: Kontakt
---

<div class="content-container" id="vita-container">
  {% include headline.html %}
  {% include navigation.html %}

  <div id="contact-wrapper">
    <div id="contact">
      <p class="head">Knudsen Management</p>
      <ul>
        <li>Inhaberin: Kerstin Knudsen</li>
        <li>Harkortstraße 95</li>
        <li>22765 Hamburg</li>
        <br>
        <li>+49 (0)40.53 30 7000</li>
        <li><a href="mailto:info@knudsen-management.de">info[at]knudsen-management.de</a></li>
      </ul>
    </div>

  </div>
</div>