---
title: Kontakt
---

<div class="content-container effect" id="vita-container">
  {% include headline.html %}
  {% include navigation.html %}

  <div id="contact-wrapper">
    <div id="contact">
      <p class="head">{{ site.data.general.agency }}</p>
      <ul>
        <li>Inhaberin: {{ site.data.general.agency_owner }}</li>
        <li>{{ site.data.general.agency_street }}</li>
        <li>{{ site.data.general.agency_post_code }} {{ site.data.general.agency_city }}</li>
        <br>
        <li>{{ site.data.general.agency_tel }}</li>
        <li><a href="mailto:{{ site.data.general.agency_email }}">info[at]knudsen-management.de</a></li>
      </ul>
    </div>

  </div>
</div>