---
title: Foto
---

<div class="content-container effect" id="foto-container">
  {% include headline.html %}
  {% include navigation.html %}

  <div id="foto-wrapper">
    <!-- <div class="light"></div> -->
    <span>{{ photo.foto_by }}</span>
    {% for photo in site.photos %}
      <a title="<small>Foto: {{ photo.foto_by }}</small>" href="{{ photo.file_path }}">
        <div class="gallery-item" style="background-image: url({{ photo.file_path }});"></div>
      </a>
    {% endfor %}    
  </div>
</div>