---
title: Foto
---

<div class="content-container effect" id="foto-container">
  <!-- {% include background.html %} -->
  {% include headline.html %}
  {% include navigation.html %}

  <div id="foto-wrapper">
    {% for image in site.static_files %}
      {% if image.path contains 'images/uploads' %}
        <div class="popup-gallery">
          <a href="{{ image.path | remove_first:'/' }}">
            <div  class="gallery-item" style="background-image: url({{ image.path | remove_first:'/' }});">
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>