---
title: Foto
---

<div class="content-container effect" id="foto-container">
  {% include background.html %}
  {% include headline.html %}
  {% include navigation.html %}

  <div id="foto-wrapper">

    <div class="popup-gallery">
      <a href="images/uploads/IMG_1799-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/IMG_1799-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/20200516_YRLB--4-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/20200516_YRLB--4-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/IMG_1799-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/IMG_1799-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/20200516_YRLB--4-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/20200516_YRLB--4-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/IMG_1799-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/IMG_1799-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/20200516_YRLB--4-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/20200516_YRLB--4-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/IMG_1799-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/IMG_1799-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/20200516_YRLB--4-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/20200516_YRLB--4-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/IMG_1799-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/IMG_1799-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/20200516_YRLB--4-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/20200516_YRLB--4-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/IMG_1799-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/IMG_1799-1920w.jpeg);">
        </div>
      </a>
    </div>

    <div class="popup-gallery">
      <a href="images/uploads/20200516_YRLB--4-1920w.jpeg">
        <div  class="gallery-item" style="background-image: url(images/uploads/20200516_YRLB--4-1920w.jpeg);">
        </div>
      </a>
    </div>


  </div>
</div>