---
title: Vita
---

<template>
  <svg width="24" height="24">
    <circle cx="12" cy="12" r="10" style="fill:white"></circle>
    <line x1="4" y1="12" x2="20" y2="12" style="stroke:black;stroke-width:0.1rem">
    </line>
    <line x1="12" y1="4" x2="12" y2="20" style="stroke:black;stroke-width:0.1rem">
    </line>
  </svg>
</template>

<div class="content-container effect" id="vita-container">

  <!-- {% include background.html %} -->
  {% include headline.html %}
  {% include navigation.html %}

  <div id="vita-wrapper">
    <div id="vita-content">
      <button class="platforms-btn" id="castforward-btn" onclick="castforward()">Castupload</button>
      <button class="platforms-btn" id="filmmakers-btn" onclick="filmmakers()">Filmmakers</button>
      <button class="platforms-btn" id="schauspielervideos-btn"
        onclick="schauspielervideos()">Schauspielervideos</button>
    </div>

    <div id="resume">
      {% for data in site.vita %}
        <p class="head"><span></span>{{ data.head }}</p>
          {{ data.data | markdownify }}
      {% endfor %}

    </div>
  </div>
</div>