---
title: Vita
---

<template>
  <svg width="24" height="24">
    <circle cx="12" cy="12" r="10" style="fill:white"></circle>
    <line x1="4" y1="12" x2="20" y2="12" style="stroke:black;stroke-width:0.1rem">
    </line>
    <line x1="12" y1="4" x2="12" y2="20" style="stroke:black;stroke-width:0.1rem">
    </line>
  </svg>
</template>

<div class="content-container effect" id="vita-container">
  {% include headline.html %}
  {% include navigation.html %}

  <div id="vita-wrapper">
    <div id="vita-content">
      <button class="platforms-btn" id="castforward-btn" onclick="castforward()">Castupload</button>
      <button class="platforms-btn" id="filmmakers-btn" onclick="filmmakers()">Filmmakers</button>
      <button class="platforms-btn" id="schauspielervideos-btn"
        onclick="schauspielervideos()">Schauspielervideos</button>
    </div>

    <div id="resume">
      {% for detail in site.vita_details %}
        <p class="head"><span></span>{{ data.date_of_birth_head }}</p>
        <ul>
          <li>{{ data.date_of_birth }}</li>
        </ul>
      {% endfor %}
      <!-- <p class="head"><span></span>{{ site.data.vita.date_of_birth_head }}</p>
      <ul>
        <li>{{ site.data.vita.date_of_birth }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.birth_place_head }}</p>
      <ul>
        <li>{{ site.data.vita.birth_place }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.living_head }}</p>
      <ul>
        <li>{{ site.data.vita.living }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.nationality_head }}</p>
      <ul>
        <li>{{ site.data.vita.nationality }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.height_head }}</p>
      <ul>
        <li>{{ site.data.vita.height }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.hair_color_head }}</p>
      <ul>
        <li>{{ site.data.vita.hair_color }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.eye_color_head }}</p>
      <ul>
        <li>{{ site.data.vita.eye_color }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.languages_head }}</p>
      <ul>
        <li>{{ site.data.vita.languages }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.dialects_head }}</p>
      <ul>
        <li>{{ site.data.vita.dialects }}</li>
      </ul>
      <p class="head"><span></span>{{ site.data.vita.education_details.education_head }}</p>
      <ul>
        <li>{{ site.data.vita.education_details.education_date }}</li>
        <li>{{ site.data.vita.education_details.education }}</li>

      </ul> -->
    </div>
  </div>
</div>