    <footer>
      <a href="imprint.html">
        <h3>Impressum</h3>
      </a>

      <h3>© {{ site.data.general.forename }} {{ site.data.general.middlename }} {{ site.data.general.surename }} {{ site.data.general.year }}</h3>
    </footer>
    <script type="text/javascript" src="assets/js/ripple.js"></script>
    <script type="text/javascript" src="magnific-popup/magnific-popup.js"></script>
    <script type="text/javascript" src="assets/js/index.js"></script>
    <script type="text/javascript" src="assets/js/foto.js"></script>
    <script type="text/javascript" src="assets/js/showreel.js"></script>
    <script type="text/javascript" src="assets/js/vita.js"></script>
    <script type="module" src="assets/js/audio.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" id="cookiebanner" src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
      data-moreinfo="imprint.html"
      data-cookie-secure="true"
      data-message="Diese Seite verwendet Cookies."
      data-linkmsg="Info"
      data-close-text="OK"
      data-close-style="float:right;"
      data-effect="fade">
    </script>
  </body>
</html>