    <footer>
      <a href="imprint.html">
        <h3>Impressum</h3>
      </a>

      <h3>© Yana Robin la Baume 2021</h3>
    </footer>
  </body>
    <script src="assets/js/ripple.js"></script>
    <script src="magnific-popup/magnific-popup.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/foto.js"></script>
    <script src="assets/js/showreel.js"></script>
    <script src="assets/js/vita.js"></script>
    <script type="module" src="assets/js/audio.js"></script>
    <script src="assets/js/main.js"></script>

</html>