<div id="sidebar">
  <ul>
    <li class="menu-button"><a href="index.html"><h3>Start</h3></a></li>
    <li class="menu-underline"></li>
    <li class="menu-button"><a href="vita.html"><h3>Vita</h3></a></li>
    <li class="menu-underline"></li>
    <li class="menu-button"><a href="showreel.html"><h3>Showreel</h3></a></li>
    <li class="menu-underline"></li>
    <li class="menu-button"><a href="foto.html"><h3>Foto</h3></a></li>
    <li class="menu-underline"></li>
    <li class="menu-button"><a href="audio.html"><h3>Audio</h3></a></li>
    <li class="menu-underline"></li>
    <li class="menu-button"><a href="contact.html"><h3>Kontakt</h3></a></li>
    <li class="menu-underline"></li>
  </ul>
</div>
