#foto-container .headline-wrapper {
  background-image: none;
  background-color: var(--background-color);
}

#foto-wrapper {
  grid-area: content;
  display: inline-block;
  overflow-y: scroll;

}

.popup-gallery {
  width: calc(100% / 3);
  height: 50%;
  float: left;
}

.gallery-item {
  background-position-x: 65%;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.popup-gallery:hover .gallery-item {
  // background-position: center;
  background-color: transparent;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .popup-gallery {
    height: 25%;
  }
}

@media screen and (max-width: 768px) {

  .popup-gallery {
    background-position-x: 0;
    opacity: 1 !important;
    width: 50%;
    height: 25%;
  }

  .gallery-item, .popup-gallery:hover .gallery-item {
    // background-position: top;
    opacity: 1;
  }
}


